<%= error_messages_for :invoice %>

<% form_for(@invoice) do |f| %>
  <% field_set_tag("Invoice Details") do -%>
    <p>
      <%= f.label :number %>
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :issued_at %>
      <%= f.date_select :issued_at, :order =>[:day, :month, :year]%>
    </p>
    <p>
      <%= f.label :customer %>
      <%= f.collection_select(:customer_id, @current_business.customers, :id, :name) %>
    </p>
  <% end -%>
  <%= f.submit "Create" %>
<% end %>
