<p>
  <b>Invoice number:</b>
  <%=h @invoice.number %>
</p>

<p>
  <b>Tax point:</b>
  <%=h @invoice.issued_at %>
</p>

<p>
  <b>Customer:</b>
  <%=h @invoice.customer_id %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
