<% content_for :title, '3. Update Journals' -%>
<% content_for :header, '3. Update Journals' -%>

<% form_for @period, :url => journal_period_path do |f| %>
  <table summary = "period form">
    <colgroup>
      <col class="labels">
      <col class="data">
    </colgroup>
    <tbody>
      <tr>
        <th>
          <label>Start At</label>
        </th>
        <td>
          <%= f.calendar_date_select :start_at %>
        </td>
      </tr>
      <tr>
        <th>
          <label>End At</label>
        </th>
        <td>
          <%= f.calendar_date_select :end_at %>
        </td>
      </tr>
      <tr class="buttons">
        <td colspan="2">
    <%= f.submit "Alter Period"%>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
  <ul class="navigation">
    <% if @journal.period -%>
      <li>
          <%=link_to "Return to a point invoice", {:action => "destroy", :journal_id => @journal}, :method => :delete %>
      </li>
    <% end -%>
    <li>
      <%= link_to 'Back', :back %>
    </li>
  </ul>
