<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    <%= yield :title %>
  </title>
  <%= stylesheet_link_tag "hmrc/hmrc", "hmrc/self_assessment_filing",
    :media => "screen",
    :cache => "hmrc" %>
  <%= stylesheet_link_tag "hmrc/print", :media => "print" %>
  <!--[if IE 7]>
    <%=stylesheet_link_tag "hmrc/ie7fix.css", :media => "screen" %>
  <![endif]--><!--[if IE 6]>
    <%=stylesheet_link_tag "hmrc/ie6fix.css", :media => "screen" %>
  <![endif]--><!--[if IE 5]>
    <%=stylesheet_link_tag "hmrc/ie5fix.css", :media => "screen" %>
  <![endif]-->
</head>
<body>

  <div id="header">
    <%= link_to(
      image_tag("logo.png", :size => "160x62", :alt => "3Accounts"), 
      ledgers_path
    ) %>
    <div id ="header-title">3Accounts</div>
    <ul class="inline-navigation">
      <li>
      <%= link_to 'Contact Us', '#' %>
      </li>
      <li>
      <%= link_to 'Help', '#' %>
      </li>
      <li>
      <%= link_to 'Logout', '#' %>
      </li>
    </ul>
  </div>

  <div id="banner">
    <div id="user-information">
      <div class="name">Neil Wilson logged in</div>
    </div>
  </div>

  <div class="columns">
    <div class="column menu-column">
      <ul id="main-menu">
       <li class="first">
       File a Return
       </li> 
       <%= classified_list_link('1. Welcome', '#') %>
       <%= classified_list_link('2. Load Journals', new_ledgers_path) %>
       <%= classified_list_link('3. Update Journals',
                                if params[:page]
                                  ledgers_path(:page => params[:page])
                                else
                                  ledgers_path
                                end) %>
      </ul>
    </div>
    <div class="column page-column">
      <div class="portlet">
        <div class="portlet-header">
          <h2>
            <%= yield :header %>
          </h2>
        </div>
        <div class="portlet-body">
          <%= display_error_messages %>
          <%=
            yield :layout
          %>
        </div>
      </div>
    </div>
  </div>

  <ul id="footer" class="inline-navigation">
    <li class="first">
    &copy;
    <%= link_to('Aldur Systems 2008','#') %>
    </li>
    <li>
    <%= link_to 'Privacy Statement', '#' %>
    </li>
    <li>
    <%= link_to 'Terms and Conditions', '#' %>
    </li>
    <li>
    <%= link_to 'Acknowledgements', '#' %>
    </li>
  </ul>
</body>
</html>
